<main class="roboto-regular-italic" 
      [ngClass]="{
        'bg-light': mode === 'light', 
        'bg-dark': mode === 'dark'
      }">
      
      <div class="m-auto w-50 text-center p-3 dh" [ngClass]="{
        'bg-white': mode === 'light', 
        'bg-secondary': mode === 'dark'
      }">
        <span class="float-end cp" (click)="toggleMode()"><i class="fa-solid fa-circle-half-stroke"></i></span>
        <app-header></app-header>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>
</main>
